DATA_DIR=D:/dataset/physionet.org/files/brugada-huca/1.0.0/files
METADATA_CSV=D:/dataset/physionet.org/files/brugada-huca/1.0.0/metadata.csv
MODEL_DIR=D:/dataset/physionet.org/files/brugada-huca/1.0.0/files/models_v3
XAI_DIR=D:/dataset/physionet.org/files/brugada-huca/1.0.0/files/xai_results
